
<div class="container">
  <div ng-cloak ng-controller="empCtrl as c">
    <!-- Form de cadastro -->
    <div ng-cloak class="row">
      <div class="col-md-6 col-md-offset-3">
        <form ng-show="c.adicionando" class="form-horizontal">
          <div class="panel panel-primary">


            <div class="panel-heading">
              Adicionar empréstimo
            </div>

            <div class="panel-body">

              <div class="col-md-7">
                <div class="form-group">
                  <label class="control-label">Responsável</label>
                  <ui-select multiple ng-model="c.resp" theme="bootstrap" sortable="true" close-on-select="false" style="padding-left: 12px">
                    <ui-select-match >{{$item.primeiroNome}} {{$item.ultimoNome}}</ui-select-match>
                      <ui-select-choices repeat="person in c.users" refresh="c.refreshResponsible($select.search)" refresh-delay="0">
                        <div ng-bind-html="person.userName | highlight: $select.search"></div>
                          <small>
                            {{person.primeiroNome}} {{person.ultimoNome}}
                            <{{person.email}}>
                          </small>
                      </ui-select-choices>
                  </ui-select>                    
                </div>
              </div>
              
              <!-- <div class="col-md-7">
                <div class="form-group">
                  <label class="control-label" for="responsavel">Responsável</label>
                  <input class="form-control" type="text" name="responsavel" ng-model="c.resp">
                </div>
              </div> -->
              <div class="col-md-offset-1 col-md-4">
                <div class="form-group">
                  <label class="control-label" for="data">Data</label>
                  <input class="form-control" type="Date" name="data">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Materiais</label>
                  <ui-select multiple ng-model="c.mat" theme="bootstrap" sortable="true" close-on-select="false" style="padding-left: 12px">
                      <ui-select-match>{{$item.quantidade}} {{$item.descricao}}</ui-select-match>
                      <ui-select-choices repeat="mate in c.mats" refresh="c.refreshMaterials($select.search)" refresh-delay="0">
                        <div ng-bind-html="mate.descricao | highlight: $select.search"></div>
                        <small>
                          {{mate.quantidade}}
                          {{mate.descricao}}
                        </small>
                      </ui-select-choices>
                  </ui-select>
                </div>
              </div>
            </div>

            <div class="panel-footer">
              <div class="col-md-offset-10">
                <button ng-click="c.emprestar()" class="btn btn-primary">Adicionar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Lista de empréstimos -->
    <div class="row" ng-init="c.obterEmprestimos()">
      <div class="col-md-offset-3 col-md-6">
        <div class="panel panel-default">
          <!-- Início do panel-heading -->
          <div class="panel-heading">
            <div class="col-md-6">
              <h4>Empréstimos</h4>
            </div>
            <div ng-show="!c.adicionando" class="col-md-offset-9">
              <button ng-click="c.mostrarForm()" class="btn btn-primary">Emprestar material</button>
            </div>
            <div ng-show="c.adicionando" class="col-md-offset-8">
              <button ng-click="c.mostrarForm()" class="btn btn-danger">Cancelar empréstimo</button>
            </div>
          </div>
          <!-- Fim do panel-heading -->

          <!-- Início do corpo do painel -->
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="col-md-offset-8">
                  <button ng-show="!c.adicionando" ng-click="c.mostrarForm()" class="btn btn-primary">
                    Emprestar material
                  </button>
                  <button ng-show="c.adicionando" ng-click="c.mostrarForm()" class="btn btn-danger">
                    Cancelar empréstimo
                  </button>
                </div>
              </li>
              <li class="list-group-item" ng-repeat="emp in c.emprestimos">
                 <b>Responsável: {{emp.responsavel}}</b><br>
                  Materiais emprestados: {{emp.materiais}}
              </li>
            </ul>
          </div>
          <!-- Fim do corpo do painel -->
        </div>
      </div>
    </div>
  </div>
</div>
