<div ng-controller="lojaCtrl as c">
	<div class="row">
		<div class="col-md-6 col-md-offset-3" ng-init="c.obterLojas()">
			

			<h1 class="fundo-branco text-center">Lojas</h1>
			<div class="row">
				<button ng-click="c.mostrarForm()" class="pull-right">
					<span class="glyphicon glyphicon-plus"></span>
				</button>				
			</div>

			<!-- Início do form de cadastro -->
			<div class="row">
				 <form ng-show="c.adicionando" class="form-inline fundo-branco col-md-offset-1 col-md-10" method="post">
					<h4 class="text-center">Adicionar loja</h4>
			        <div class="col-xs-4 form-group grupoDeForms">
			          <!-- <label for="">Nome</label> -->
			          <input class="form-control" placeholder="Nome" type="text" ng-model="c.nome">
			        </div>

			        <div class="form-group grupoDeForms pull-right">
			        	<button class="btn btn-success btn-xs" type="submit" ng-click="c.addLoja()">
			          		<span>Adicionar loja</span>
			        	</button>          
			        </div>
			    </form>  
			</div>
			<!-- Fim do form de cadastro -->

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<form ng-show="c.excluindo">
						<div class="form-group">
							<label class="fundo-branco">Tem certeza que deseja excluir essa loja?</label><br>
							<button class="btn-default" ng-click="c.mostrarExcluir()">Cancelar</button>
							<button class="btn-danger" ng-click="c.removerLoja()">Excluir</button>
						</div>
					</form>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="l in c.lojas">
							{{l.nome}}
							<!-- <button class="btn btn-danger btn-xs" ng-click="c.removerLoja(l._id)">
								<span class="glyphicon glyphicon-trash"></span>
							</button> -->

							<div class="btn-group pull-right" role="group" aria-label="Basic example">
								<button class="t" ng-click="c.atualizarLoja(l._id)">
									<span class="glyphicon glyphicon-pencil"></span>
								</button>								

								<button class="" ng-click="c.mostrarExcluir()" ng-init="c.setId(l._id)">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</div>
						</li>
					</ul>
				</div>				
			</div>
		</div>
	</div>
</div>