<div ng-controller="lojaCtrl as c">

  <!-- Form  -->
  <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <form ng-show="c.adicionando" class="form-inline" ng-submit="c.addLoja()">
          <div class="panel panel-default">
            <!-- Panel-heading -->
            <div class="panel-heading">
              Adicionar loja
            </div>
            <!-- Início do corpo do painel -->
            <div class="panel-body">
              <div class="form-group">
                <label for="nome" class="control-label">Nome</label>
                <input class="form-control" ng-model="c.nome" type="" name="nome">
              </div>
            </div>
            <!-- Fim do corpo do painel -->
            <!-- panel-footer -->
            <div class="panel-footer">
              <div class="text-right">
                <button class="btn btn-primary">Cadastrar loja</button>
              </div>
            </div>
          </div>
        </form>
      </div>
  </div>

  <!-- Form de remover loja -->
 <div class="row">
  <div class="col-md-4 col-md-offset-4" ng-show="c.excluindo">
    <div class="panel panel-danger">
      <div class="panel-heading">
        Tem certeza que deseja excluir essa loja?
      </div>
      <div class="panel-footer">
        <div class="text-right">
          <button class="btn btn-default" ng-click="c.mostrarExcluir()">Cancelar</button>
          <button class="btn btn-danger" ng-click="c.removerLoja()">Excluir</button>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Lista das lojas -->

  <div class="row" ng-init="c.obterLojas()">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="col-md-4">
              <h4>Lojas</h4>
            </div>
            <div class="text-right">
              <button class="btn btn-primary" ng-click="c.mostrarForm()" ng-show="!c.adicionando">
                Adicionar loja
              </button>
              <button class="btn btn-default" ng-click="c.mostrarForm()" ng-show="c.adicionando">
                Cancelar cadastro
              </button>
            </div>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <li id="{{l._id}}" class="list-group-item desaparece item-de-lista" 
              ng-repeat="l in c.lojas">
                <b>{{l.nome}}</b>
                <!-- Início do editar -->
                <div class="input-group nao-desaparece" ng-show="i == l._id" ng-repeat="i in c.editados">
      			      <input ng-model="c.nome" type="text" class="form-control" placeholder="Nome...">
      			      <span class="input-group-btn">
      			        <button class="btn btn-primary" type="button" ng-click="c.atualizarLoja(l._id)">
      			        	<span class="glyphicon glyphicon-ok"></span>
      			        </button>
      			      </span>
      			    </div>
      			    <!-- Fim do editar -->
                <div class="btn-group pull-right" role="group" aria-label="Basic example">
                  <button class="btn btn-primary btn-xs" ng-click="c.mostrarEditar(l._id)" 
                  id="btEd{{l._id}}">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>

                  <button class="btn btn-danger btn-xs" ng-click="c.mostrarExcluir(l._id)"
                  id="btEx{{l._id}}">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </div>
                <div class="espaco" ng-show="i == l._id" ng-repeat="i in c.editados"></div>
              </li>
            </ul>
          </div>
    </div>
