<div ng-controller="usuarioCtrl as c">
	<div class="container">
      <div class="navbar-header">
        <!-- Botão para expandir o menu. Aparece quando a largura da tela diminui (Requer JS). -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- O nome, marca, logotipo do nosso projeto -->
        <a class="navbar-brand" href="#">ControlLab</a>
      </div>
      <!-- Os itens de menu -->
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active" ng-click="c.redirHome()">
            <a href="">
              <span class="glyphicon glyphicon-home"> Início</span>
            </a>
          </li>
          <li><a href="">
            <span class="glyphicon glyphicon-search"> Consultar Empréstimos</span>
          </a></li>
          <li><a href="#" ng-click="c.sair()"><span class="glyphicon glyphicon-off"> Sair</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
