<div class="container" ng-controller="homeCtrl as c">
	<div class="row">
		<div class="col-md-6" ng-init="c.getEmprestimos()">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Empréstimos</h4>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<a class="list-group-item" ng-repeat="e in c.emprestimos">
							{{e.responsavel}}
							{{e.materiais}}
						</a>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6" ng-init="c.getMateriais()">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Materiais</h4>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<a class="list-group-item" ng-repeat="m in c.materiais">
							{{m.quantidade}}
							{{m.descricao}}
						</a>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-controller="homeCtrl as c">		
	<div ng-cloak class="col-md-offset-3 col-md-6">
		<div class="login">
			<div class="login-screen">
				<div class="app-title">
					<h1>Bem-vindo(a)!</h1>
				</div>
				<form name=login>
					<div class="telainicial">
						<div class="control-group">
        					<button class="btn btn-primary" type="submit" ng-click="c.redirecionarEmp()">
                				<span>Empréstimos</span>
        					</button>
						</div>
          	<div class="control-group">
          		<button class="btn btn-primary" type="submit" ng-click="c.redirecionarEst()">
            		<span>Estoque</span>
            			</button>
          	</div>

					</div>
					<div class="panel-body">
					<form class="form-horizontal">
							<div class="col-md-6 ">
								<div class="control-group">
		        					<button class="btn btn-primary" type="submit" ng-click="c.redirecionarEmp()">
		                				<span>Empréstimos</span>
		        					</button>
								</div>
	            </div>
							<div class="col-md-6">
								<div class="control-group">
		          		<button class="btn btn-primary" type="submit" ng-click="c.redirecionarEst()">
		            		<span>Estoque</span>
		            			</button>
		          	</div>
							</div>

						</div>
	</form>
				</div>
			</div>
		</div>

	</div>

					</div>
				</div>
