<div ng-controller="homeCtrl as c">
	<div class="col-md-offset-4 col-md-3">
				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						Bem-vindo(a)!
					</div>
					<div class="panel-body">
					<form class="form-horizontal">
							<div class="col-md-6 ">
								<div class="control-group">
		        					<button class="btn btn-primary" type="submit" ng-click="c.redirecionarEmp()">
		                				<span>Empréstimos</span>
		        					</button>
								</div>
	            </div>
							<div class="col-md-6">
								<div class="control-group">
		          		<button class="btn btn-primary" type="submit" ng-click="c.redirecionarEst()">
		            		<span>Estoque</span>
		            			</button>
		          	</div>
							</div>

						</div>
	</form>
				</div>
			</div>
		</div>

	</div>

					</div>
				</div>
