<div ng-controller="homeCtrl as c" class="col-md-offset-3 col-md-6">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Bem-vindo(a)!</h1>
			</div>
			<form name=login>
				<div class="telainicial">
					<div class="control-group">
        				<button class="btn btn-primary" type="submit" ng-click="c.redirecionarEmp()">
                			<span>Empréstimos</span>
        				</button>
</div>

          <div class="control-group">
          	<button class="btn btn-primary" type="submit" ng-click="c.redirecionarEst()">
             <span>Estoque</span>
            </button>
          </div>

			</div>
		</div>
	</div>
</form>
</div>
