<div ng-controller="authCtrl as a">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">  
        <form class="form-horizontal">
          <div class="panel panel-default">
            <div class="panel-heading">
              Login
            </div>
            
            <div class="panel-body">
              <div class="form-group">
                <div class="col-md-12 ">
                  <label for="nick" class="control-label">Nick</label>
                  <input ng-model="a.userName" class="form-control" type="" name="nick">
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <label for="senha" class="control-label">Senha</label>
                  <input ng-model="a.senha" class="form-control" type="password" name="senha">
                </div>
              </div>
            </div>  

            <div class="panel-footer">
              <div class="col-md-offset-7">
                <button class="btn btn-primary">Esqueceu a senha?</button>
                <button type="submit" ng-click="a.autenticar()" class="btn btn-primary">Entrar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>