<div ng-controller="authCtrl as a">
  <div ng-cloak >
    <div class="col-md-offset-4 col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        Login
      </div>
      <div class="panel-body">
        <form class="form-horizontal">
               <div class="form-group">
             <div class="col-md-10">
                <input type=text name=administrador class="form-control"
                ng-model="a.userName" placeholder="Administrador" type="text">
              </div>

                <div class="col-md-10">
                    <input type=password name=senha class="form-control"
                    ng-model="a.senha" placeholder="Senha">
                 </div>
                 </div>
                 <div class="form-group">
                   <div class="col-md-10">
                     <button class="btn btn-primary pull-right" type="submit" ng-click="a.autenticar()">Entrar</button>
                   </div>
                 </div>

      </div>
        </form>
    </div>
      </div>
    </div>

  </div>
  </div>
