<div ng-cloak ng-controller="RecursoCtrl as c">


  <div class="container">
    <!-- Form de cadastrar recurso -->
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <form ng-show="c.adicionando" class="form-inline">
            <div class="panel panel-default">
              <!-- Panel-heading -->
              <div class="panel-heading">
                Adicionar recurso
              </div>
              <!-- Início do corpo do painel -->
              <div class="panel-body">
                <div class="form-group">
                  <label for="nome" class="control-label">Nome</label>
                  <input class="form-control" ng-model="c.nome" type="" name="nome">
                </div>
                <div class="form-group">
                  <label for="valor" class="control-label">Valor</label>
                  <input class="form-control" ng-model="c.val" type="number" value="0.00" step="0.2" name="valor">
                </div>
              </div>
              <!-- Fim do corpo do painel -->
              <!-- panel-footer -->
              <div class="panel-footer">
                <div class="text-right">
                  <button class="btn btn-primary" ng-click="c.addRecurso()">Cadastrar recurso</button>
                </div>
              </div>
            </div>
          </form>
        </div>
    </div>
    <!-- Form de excluir recurso -->
      <div class="row">
        <div class="col-md-6 col-md-offset-3" ng-show="c.excluindo">
          <div class="panel panel-danger">
            <div class="panel-heading">
              Tem certeza que deseja excluir esse recurso?
            </div>
            <div class="panel-footer">
              <div class="text-right">
                <button class="btn btn-default" ng-click="c.mostrarExcluir()">Cancelar</button>
                <button class="btn btn-danger" ng-click="c.removerRecurso()">Excluir</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- Lista de recursos -->
    <div class="row" ng-init="c.obterRecurso()">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="col-md-4">
              <h4>Recursos</h4>
            </div>
            <div class="text-right">
              <button ng-show="!c.adicionando" class="btn btn-primary" ng-click="c.mostrarForm()">
                Adicionar recurso
              </button>
            </div>
            <div class="text-right">
              <button ng-show="c.adicionando" class="btn btn-default" ng-click="c.mostrarForm()">
                Cancelar cadastro
              </button>
            </div>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item desaparece" ng-repeat="rec in c.recursos">
                  <b>{{rec.nome}}</b>
                  <button class="pull-right btn btn-danger" ng-click= "c.mostrarExcluir(rec._id)">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button><br>
                  Valor: R$ {{rec.valor}}
              </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
