/*{
box-sizing: border-box;
}
#ts {
background-color: #Deb887;
padding: 20px;
border-radius: 5px
}
*:focus {
 outline: none;
<<<<<<< HEAD
}*/

 body {
	font-family: Arial;
	padding: 50px;
	background-image: url('../imagens/logo.png');
}

. meu-espacamento {
	margin-top: 5px;
}

/*.fundo-branco {
	color: rgb(255, 255, 255);
}

.grupoDeForms {
	margin-top: 3px;
}

.login {
margin: 30px auto;
width: 300px;
}
.login-screen {
background-color: #F5DEB3;
padding: 20px;
border-radius: 5px
}

.app-title {
text-align: center;
color: #7077;
}

.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}

input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}
#bl{
 text-align: center;
 background-color: #1e90ff;
 border: 2px solid transparent;
 border-radius: 3px;
 font-size: 16px;
 font-weight: 200;
 padding: 10px 0;
 width: 250px;
 transition: border .5s;
}
input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}
#form{
  background-color: #Deb887;
  padding: 20px;
  border-radius: 5px
}

#h1{
  background-color: #3498DB
}
.btn {
 border: 2px solid transparent;
 background: #3498DB;
 color: #ffffff;
 font-size: 16px;
 line-height: 25px;
 padding: 10px 0;
 text-decoration: none;
 text-shadow: none;
 border-radius: 3px;
 box-shadow: none;
 transition: 0.25s;
 display: block;
 width: 250px;
 margin: 0 auto;
}

.btn:hover {
 background-color: #2980B9;
}

.login-link {
 font-size: 12px;
 color: #444;
 display: block;
 margin-top: 12px;
}
*/